<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Riddles</title>
</head>
<body>

    <p><%= riddle.question %></p>

    <form action="/trial" method="POST">
      <input type="text" name="userAnswer">
      <button>Submit</button>
    </form>

    <form action="/surrender" method="POST">
      <button>Give Up</button>
    </form>


  <% if (locals.msg) { %>
    <p><%= msg %></p>
  <% } %>

</body>
</html>